.blog {
    margin-top: 230px;

    &__search {
        input {
            border-color: $color__primary;

            -webkit-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            -moz-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
        }
    }

    &__share {
        display: flex;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $color__soft-grey;
        padding: 20px 0;
        p {
            font-size: 16px;
            font-weight: bold;
            color: $color__text;
            margin-right: 25px;
        }

        li {
            display: inline-block;
            margin-right: 40px;
            i { font-size: 20px; }

            .fa {
                &-facebook {color: #325C99 }
                &-twitter {color: #02ACEC }
                &-whatsapp {color: #51C85D }
            }
        }
    }

    &__related {
        margin-top: 65px;

        &__title-post {
            font-size: 16px!important;
            margin-top: 20px;
        }

        &__title {
            font-size: 25px;
            font-weight: 300;
            position: relative;
            margin-bottom: 35px;
            color: $color__text;

            &::before {
                left: -22px;
                top: -32px;
                height: 52px;
                content: "";
                width: 53px;
                position: absolute;
                background-image: url(../../images/title.png);
            }
        }
    }

    &__comments {
        border-top: 1px solid $color__soft-grey;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 80px;

        p {
            font-size: 16px;
            font-weight: bold;
            color: $color__text;
            margin-right: 25px;  
            margin-bottom: 25px;  
        }
    }

    &__warning {
        background-color: $color__primary;
        padding: 20px;
        border-radius: 10px;
        color: $color__white;

        -webkit-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
        -moz-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
        box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
    }

    .blog__post {
        @include clearfix;

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        .btn-read-more {
            font-size: 16px;
            margin-top: 23px;
            display: inline-block;
        }

        .post__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
            font-weight: 300;
            color: $color__primary;
        }

        .post__thumbnail {
            margin-bottom: 40px;
        }

        .post__excerpt {
            p {
                margin-bottom: 15px;
                background: -webkit-linear-gradient(#333, #eee);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .post__share {
            font-size: 14px;
            font-weight: 600;
        }
    }


    .block__paginator {
        text-align: center;

        .paginator {
            display: inline-block;
        }
    }

    .post__comments {
        .field__label {
            margin-bottom: 30px;
        }

        strong {
            font-weight: bold;
            color: $color__secondary;
        }
    }

    .block__categories {
        li {
            &:not(:last-child) {
                margin-bottom: 18px;
                border-bottom: 1px solid $color__soft-grey;
                padding-bottom: 30px;
            }
        }

        a {
            display: block;
            font-size: 16px;
            font-weight: 400;
            color: $color__primary;
        }
    }

    .block__newsletter {
        background-color: $color__primary;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 70px;

        -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
            
        label {
            display: block;
            margin: 25px 0;
        }

        .btn-primary {
            font-weight: 600;
        }

        .book__form {
            border: none;
            padding-bottom: 0;
        }
    }

    .block__search {
        position: relative;
        margin-bottom: 50px;

        .btn-search {
            top: 1px;
            right: 1px;
            position: absolute;
            height: 96%;
            font-weight: 300;
            font-size: 22px;
            width: 50px;
            background-color: transparent;
            border: 0;

            &:before {
                display: inline-block;
                margin-top: 5px;
                height: 24px;
                width: 24px;
                content: "\f002 ";
                font: normal normal normal 14px/1 FontAwesome
            }
        }
    }

    .blog__listing {
        margin-top: 50px;
    }

    .block__aside {
        position: relative;

        &:before {
            left: -22px;
            top: -32px;
            height: 52px;
            content: "";
            width: 53px;
            position: absolute;
            background-image: url("../../images/title.png");
        }
    }

    &.blog__single {
        .blog__listing {
            border-right: 0;
        }
    }
}