.page__clinica {
    margin-top: 230px;
}

.block__clinica {
    &::after {
        background-image: url(../../images/bg-butterfly.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 85%;
        position: absolute;
        height: 732px;
        width: 741px;
        content: "";
        top: 65px;
        left: 39%;
        z-index: -1;
    }

    .block__content {
        padding: 70px 0;
        color: $color__text;
        line-height: 1.6;
    }
}

.block__team {
    margin-bottom: 150px;
}

.clinica__image {
    padding: 70px 0;
}