.page__contato {
    margin-top: 230px;
    margin-bottom: 80px;

    form {
        margin-top: 60px;
         
        input, textarea {
            -webkit-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            -moz-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
        }

        .btn-submit {
            width: auto;
            padding: 5px 20px;
        }
    }
}

.contato {
    &__infos {
        margin-top: 55px;

        &-item {
            display: flex;

            .fa {
                color: $color__primary;
                font-size: 25px;

                &.fa-white {
                    color: $color__white;
                }
    
                &-phone {
                    margin-right: 25px
                }
    
                &-map-marker {
                    margin-right: 30px
                }
            }
            p, a{
                color: $color__text;
                font-size: 16px;
                font-style: italic;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
        
    }
}

.block__contato {
    &::after {
        background-image: url(../../images/bg-butterfly.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: absolute;
        height: 322px;
        width: 325px;
        content: "";
        top: 135px;
        left: 39%;
        z-index: -1;
    }

    .block__content {
        padding: 70px 0;
        color: $color__text;
        line-height: 1.6;
    }
}


