.page__especialidades {
    margin-top: 230px;
    margin-bottom: 130px;
}

.block__especialidades {
    background-image: url("../../images/bg-butterfly.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .block__content {
        padding: 70px 0;
        color: $color__text;
        line-height: 1.6;
    }
}

.especialidades {
    &__info {
        display: flex;
        align-items: baseline;
    }

    &__text {
        color: #777777;
        font-size: 16px;
        margin-top: 45px;
        margin-bottom: 35px;
        padding-right: 380px;
    }
}

.specialty__cremesc {
    color: $color__primary;
    font-size: 13px;
    margin-left: 18px;
}

.specialty__school {
    font-size: 13px;
    font-weight: bold;
    color: $color__primary;
    text-transform: uppercase;
    margin: 5px 0; 
}
