.page__home {
    position: relative;
    top: -110px;

    @media (max-width: $screen-sm) {
        top: 0;
    }

    .section {
        &__title {
            font-size: 35px;
        }
    }
}

.main__banner {
    margin-bottom: 90px;

    .main__carousel {
        .owl-dots {
            bottom: 5px;
            width: 100%;
            position: absolute;
        }
    }

    .banner__description {
        left: 0;
        bottom: 0;
        position: relative;
        text-align: center;
        position: absolute;
        padding: 50px 65px 80px;
        background-color: #fff;
        max-width: 805px;
        width: 80%;

        &:before {
            top: -15px;
            left: 50%;
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: $color__primary;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
        }

        .banner__title {
            font-size: 28px;
            margin-bottom: 45px;
            font-weight: normal;
            color: $color__primary;
        }

        .banner__subtitle {
            font-size: 18px;
        }
    }

    .banner__actions {
        bottom: 0;
        right: 0;
        width: 28%;
        position: absolute;
    }
}

    .specialty{
        &__box {
            border: 1px solid $color__primary;
            border-radius: 10px;
            padding: 40px 0 20px 50px;
            margin-top: 80px;

            transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;

            -webkit-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            -moz-box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);
            box-shadow: 0px 3px 17px 0px rgba(186,121,83,0.45);

            &:hover {
                transform: translateY(-5px);
                -webkit-transform: translateY(-5px);
                -moz-transform: translateY(-5px);
            }

            &--img {
                position: relative;

                &::after {
                    background-image: url('../../images/home/specialty-doc.png');
                    background-repeat: no-repeat;
                    height: 199px;
                    width: 162px;
                    content: "";
                    position: absolute;
                    top: -65px;
                    right: 0;
                }
            }
        }

        &__title {
            line-height: 1;
            font-size: 25px;
            font-weight: bold;
            position: relative;
            color: $color__primary;
            letter-spacing: 2px;

            &--small {
                &:before {
                    background-size: 70%;
                    background-repeat: no-repeat;
                    left: -16px!important;
                    top: -22px!important;
                }
            }
            
            &:before {
                left: -22px;
                top: -32px;
                height: 52px;
                content: "";
                width: 53px;
                position: absolute;
                background-image: url("../../images/title.png");
            }
        }
        
        &__name {
            font-size: 20px;
            color: $color__terciary;
            margin-top: 25px;
        }
    }

    .book {
        &__section {
            background-color: $color__primary;
            padding: 20px;
            border-radius: 10px;
            position: absolute;
            top: -155px;
            z-index: 2;

            -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
            -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
            box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.45);
        }

        &__title {
            color: $color__white;
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 4px;
            margin-bottom: 30px;
            
            span {
                font-weight: bold;
                display: block;
            }
        }
        
        &__description {
            font-size: 14px;
            color: $color__white;
            margin-bottom: 30px;
        }

        &__form {
            padding-bottom: 30px;
            margin-bottom: 20px;
            border-bottom: 1px solid #E9E9E9
        }

        &__infos {
            li {
                font-size: 14px;
                color: $color__white;
                margin-bottom: 20px;
                display: flex;

                &:first-child {
                    margin-bottom: 5px;
                }

                a { color: $color__white; }

                i {
                    font-size: 25px;
                    margin-right: 10px;
                }

                span { 
                    font-weight: bold; 
                    letter-spacing: 1px; 
                    margin-bottom: 10px;
                }
            }
        }
    }

.block__blog {
    margin-top: 120px;
    padding-bottom: 0;

    .blog__post {
        margin-bottom: 30px;
        margin-top: 50px;
        padding-right: 30px;
    }

    .post__info {
        position: relative;
    }

    header {
        .section__title {}
    }

    .post__thumbnail {
        display: block;

        @include transition(all 0.5s);

        img {
            height: auto;
            max-width: 100%;
        }

        &:hover {
            opacity: .8;
        }
    }

    .post__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;
        font-weight: 300;
        color: $color__primary;
    }

    .post__details {
        padding: 20px 0;
    }

    .post__excerpt {
        height: 130px;
        overflow: hidden;
        font-size: 16px;
        line-height: 25px;
        color: #777777;
        p {
            background: -webkit-linear-gradient(#333, #eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .post__actions {
        text-align: right;
    }
}

.block__localizacao {
    background-image: url("../../images/bg-butterfly.png");
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 130px;
    margin: 0;

    .localizacao{
        &__mapa {
            margin-top: 55px
        }

        &__title {
            font-weight: 300;
            color: #777777;

            span {
                font-size: 35px;
                color: $color__primary;
                font-weight: bold;
                display: block;
            }
        }

        &__parking {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 160px;

            & img {
                margin-right: 10px;
            }
        }
    }
}