.page__localizacao {
    margin-top: 230px;
    margin-bottom: 80px;

    .localizacao{    
        &__mapa {
            margin-top: 55px
        }
    
        &__title {
            font-weight: 300;
            color: #777777;
    
            span {
                font-size: 35px;
                color: $color__primary;
                font-weight: bold;
                display: block;
            }
        }
    
        &__parking {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 130px;
            position: inherit;
            top: 0;
    
            & img {
                margin-right: 10px;
            }
        }
    
        &__infos {
            margin-top: 55px;
    
            &-item {
                display: flex
            }
            .fa {
                width: 30px;
                color: $color__primary;
                font-size: 25px;
    
                &-phone {
                    margin-right: 25px
                }
    
                &-map-marker {
                    margin-right: 30px
                }
            }
            p, a{
                color: $color__text;
                font-size: 16px;
                font-style: italic;
                display: inline-block;
            }
        }
    }
}

.block__localizacao {
    background-image: url("../../images/bg-butterfly.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .block__content {
        padding: 70px 0;
        color: $color__text;
        line-height: 1.6;
    }
}

