*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  color: #474747;
  font-family: "Century Gothic", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto; }

address {
  font-style: normal; }

ul {
  list-style: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  color: #474747;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    opacity: .75; }

a:active,
a:hover {
  outline: 0;
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-size: 16px;
  font-family: monospace, monospace; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (<none>)
 * Config saved to config.json and <none>
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.cclear {
  clear: both; }

.screen-readers {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.no-bg {
  background-image: none !important;
  background-color: transparent !important; }

.align-flex {
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .align-flex {
      display: block; } }

.text-center {
  text-align: center; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90); }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000; }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }
.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }
@media print {
  .hidden-print {
    display: none !important; } }
.main__header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 25px 0;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  @media (max-width: 768px) {
    .main__header {
      background: #fff; } }
  .main__header--fixed {
    background: #fff; }
    .main__header--fixed .header__nav li > a {
      color: #BB7A54 !important; }
  .main__header--interna {
    background: #fff; }
    .main__header--interna .header__nav li > a {
      color: #BB7A54 !important; }
  .main__header .header__logo img {
    max-width: none; }
  @media (min-width: 769px) {
    .main__header .header__nav {
      text-align: right; }
      .main__header .header__nav:before, .main__header .header__nav:after {
        clear: both;
        content: "";
        display: table; }
      .main__header .header__nav li {
        margin: 0 3.4%;
        display: inline-block; }
        .main__header .header__nav li:last-child {
          margin-right: 0; }
        .main__header .header__nav li > a {
          display: block;
          font-size: 15px;
          font-weight: 300;
          text-align: center;
          position: relative;
          color: #fff;
          text-transform: uppercase; }
      .main__header .header__nav .header__mobile-trigger {
        display: none; } }
  @media (max-width: 768px) {
    .main__header .header__nav {
      top: 25px;
      left: -15px;
      width: 110%;
      z-index: 11;
      display: none;
      position: relative;
      text-align: center;
      background-color: #fff; }
      .main__header .header__nav li {
        border-bottom: 1px solid #9c613e; }
        .main__header .header__nav li:not(:last-child) {
          margin-right: 0; }
        .main__header .header__nav li > a {
          color: #BA7953;
          padding: 8px;
          font-size: 17px;
          display: inline-block;
          text-transform: none; }
      .main__header .header__nav .check-in {
        display: none; }
      .main__header .header__nav .btn-book-now {
        margin-top: 15px;
        width: 150px; } }
  .main__header .info__contact {
    position: relative; }
    .main__header .info__contact:before, .main__header .info__contact:after {
      top: 50%;
      left: -15%;
      height: 1px;
      width: 115%;
      content: "";
      z-index: -1;
      position: absolute;
      background-color: #eee; }
  .main__header .social__listing {
    margin-bottom: 10px; }
    .main__header .social__listing a {
      font-size: 14px;
      color: #c0d2c4; }
    .main__header .social__listing .icon {
      margin-right: 10px; }
    .main__header .social__listing .fa {
      font-size: 18px; }

.logo__dark {
  display: none; }

body {
  margin-top: 110px; }

.block__section {
  margin-bottom: 80px; }
  .block__section .section__tag {
    padding: 6px 26px;
    max-width: 380px;
    margin-right: 20px;
    position: relative;
    margin-left: -5px;
    color: #fff;
    display: inline-block; }
    .block__section .section__tag strong {
      font-size: 16px;
      font-weight: 500;
      color: #fff; }
    .block__section .section__tag:before {
      z-index: -1;
      content: "";
      left: -5px;
      bottom: -5px;
      position: absolute;
      border: 5px solid transparent; }
    .block__section .section__tag.tag-featured, .block__section .section__tag.tag-forecast {
      background-color: #C2A45D; }
      .block__section .section__tag.tag-featured:before, .block__section .section__tag.tag-forecast:before {
        border-right-color: #80672F; }
    .block__section .section__tag.tag-info {
      background-color: #BA7953; }
      .block__section .section__tag.tag-info:before {
        border-right-color: #BA7953; }
  .block__section .section__actions {
    margin-top: 20px;
    text-align: center; }

.section__listing li {
  position: relative;
  font-size: 16px;
  margin-bottom: 8px;
  padding-left: 16px;
  color: #858585; }
  .section__listing li.is-active {
    font-size: 16px;
    font-style: italic;
    color: #BA7953; }
  .section__listing li:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #154276;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -wekbit-border-radius: 50%;
    left: 0;
    margin-top: 10px; }

.section__title {
  line-height: 1;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  font-family: "Century Gothic", sans-serif;
  color: #BA7953;
  letter-spacing: 2px;
  display: inline-block; }
  .section__title:before {
    left: -22px;
    top: -32px;
    height: 52px;
    content: "";
    width: 53px;
    position: absolute;
    background-image: url("../../images/title.png"); }
  .section__title.section__title--newsletter:before {
    left: -47px;
    top: -65px;
    height: 97px;
    width: 98px;
    content: "";
    position: absolute;
    background-image: url("../../images/title-alt.png"); }

.section__description {
  font-style: italic;
  font-size: 16px;
  color: #444444;
  margin-top: 20px; }

.block__aside {
  margin-bottom: 50px; }
  .block__aside h3 {
    font-size: 25px;
    font-weight: 300;
    position: relative;
    margin-bottom: 35px;
    color: #555555; }
  .block__aside.block__most-readed article {
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    padding-bottom: 35px; }
  .block__aside.block__most-readed .post__details:before, .block__aside.block__most-readed .post__details:after {
    clear: both;
    content: "";
    display: table; }
  .block__aside.block__most-readed .post__thumbnail {
    margin-bottom: 25px; }
  .block__aside.block__most-readed .post__title a {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 300;
    color: #BA7953; }

.block__carousel {
  background-color: #eee; }

.block__social h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px; }
.block__social .social__listing li {
  float: left;
  margin-right: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.block__social .social__listing a {
  color: #fff;
  padding: 4px 0 8px;
  text-align: center;
  font-size: 22px;
  display: block;
  width: 40px; }

.contact__listing {
  font-size: 14px; }
  .contact__listing li {
    margin-bottom: 20px; }
  .contact__listing address {
    font-style: normal; }
  .contact__listing a {
    color: #fff; }
  .contact__listing .icon {
    float: left;
    margin-right: 15px;
    vertical-align: top; }

.social__listing:before, .social__listing:after {
  clear: both;
  content: "";
  display: table; }
.social__listing li {
  display: inline-block;
  margin-right: 30px; }
  .social__listing li:last-child {
    margin-right: 0; }

.main__newsletter {
  padding: 25px 0;
  background-color: #C1D3C5; }
  .main__newsletter .newsletter__description {
    display: inline-block;
    font-size: 16px;
    color: #777777;
    margin-bottom: 20px;
    margin-left: 40px;
    position: relative;
    bottom: 6px; }
  .main__newsletter .newsletter__label {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase; }
    .main__newsletter .newsletter__label strong {
      display: block;
      font-size: 45px;
      font-weight: 300;
      line-height: 48px;
      text-transform: capitalize; }
  .main__newsletter input[type="email"],
  .main__newsletter input[type="text"] {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-color: transparent; }
  .main__newsletter label,
  .main__newsletter .btn-newsletter {
    margin-top: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.specialty__box--img.interna {
  background: #fff;
  position: relative; }
  .specialty__box--img.interna::after {
    background-image: url("../../images/especialidades/bg-doc.png");
    background-repeat: no-repeat;
    height: 436px;
    width: 233px;
    content: "";
    position: absolute;
    bottom: 0;
    right: -35px;
    top: unset; }

.btn {
  border: 0;
  outline: 0;
  max-width: 100%;
  font-size: 17px;
  font-weight: 700;
  padding: 13px 20px;
  display: inline-block;
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  @media (max-width: 480px) {
    .btn {
      width: 100% !important;
      max-width: 100% !important;
      text-align: center; } }
  .btn-primary {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    max-width: 360px;
    font-weight: 300;
    text-align: center;
    color: #BA7953;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #BA7953;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; }
    .btn-primary:hover {
      color: #fff;
      background-color: #BA7953; }
  .btn-secondary {
    color: #8dc63f;
    border: 1px solid #8dc63f; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #8dc63f; }
  .btn-newsletter {
    width: 100%;
    font-size: 16px;
    max-width: 185px;
    color: #fff;
    background-color: #BA7953;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
    .btn-newsletter:hover {
      background-color: #9c613e; }
  .btn-download {
    background-color: #222222;
    color: #fff;
    font-weight: bold;
    max-width: 220px;
    font-size: 16px;
    width: 100%; }
    .btn-download:hover {
      background-color: black; }
  .btn-read-more {
    display: inline-block;
    color: #BA7953;
    font-weight: bold;
    font-size: 14px; }
    .btn-read-more i {
      top: 50%;
      left: 50%;
      position: absolute;
      margin-top: calc(-18px/2);
      margin-left: calc(-9px/2); }
    .btn-read-more:hover {
      opacity: 1;
      color: #a36541; }
  .btn-mobile {
    top: 15px;
    left: 15px;
    width: 40px;
    height: 35px;
    z-index: 12;
    display: block;
    position: relative;
    color: #fff;
    background-color: #BA7953; }
    .btn-mobile span {
      top: 16px;
      left: 18%;
      height: 2px;
      font-size: 0;
      width: 65%;
      position: absolute;
      background-color: #fff; }
      .btn-mobile span:before, .btn-mobile span:after {
        -webkit-transition: all .2s ease-out;
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: #fff;
        content: ''; }
      .btn-mobile span:before {
        top: 7px; }
      .btn-mobile span:after {
        top: -7px; }
    .btn-mobile.is-active span {
      color: transparent; }
      .btn-mobile.is-active span:before, .btn-mobile.is-active span:after {
        width: 50%; }
      .btn-mobile.is-active span:before {
        top: 5px;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg); }
      .btn-mobile.is-active span:after {
        top: -5px;
        transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg); }
  .btn-book-now {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
    border: 3px solid #BA7953;
    color: #BA7953; }
    .btn-book-now:hover {
      color: #fff;
      background-color: #BA7953; }
  .btn-call-to-book {
    font-size: 28px;
    display: block;
    height: 120px;
    line-height: 120px;
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #fec63f;
    text-transform: uppercase; }
    .btn-call-to-book:hover {
      opacity: 1;
      background-color: #fed268; }
    .btn-call-to-book:before {
      top: 4px;
      content: "";
      width: 30px;
      height: 30px;
      margin-right: 25px;
      position: relative;
      display: inline-block;
      background: url(../../images/spritesheet.png) -283px -112px no-repeat; }
    .btn-call-to-book:after {
      top: 12%;
      left: 4%;
      width: 92%;
      height: 76%;
      content: "";
      position: absolute;
      border: 1px solid #fff; }
    @media (max-width: 480px) {
      .btn-call-to-book {
        font-size: 22px !important; }
        .btn-call-to-book:before {
          top: 5px;
          margin-right: 10px; } }
  .btn-curriculum {
    font-size: 13px;
    padding: 3px 20px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff; }
    .btn-curriculum:hover {
      color: #BA7953;
      background-color: #fff; }
  .btn-submit {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    color: #555555;
    padding: 5px 0;
    background-color: #C1D3C5;
    text-transform: capitalize;
    letter-spacing: 2px; }
    .btn-submit:hover {
      background-color: #94b39b; }
  .btn-reset {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #BA7953;
    background-color: transparent;
    border: 2px solid #BA7953; }
    .btn-reset:hover {
      color: #895537;
      border-color: #895537; }
  .btn-cancel {
    font-size: 14px;
    font-weight: 700;
    color: #BA7953; }
  .btn-share {
    color: #fff;
    width: 45px;
    height: 45px;
    display: table;
    margin-top: 25px;
    text-align: center;
    background-color: #0094da; }
    .btn-share > i {
      display: table-cell;
      vertical-align: middle;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s; }
    .btn-share:hover {
      background-color: #28baff; }
      .btn-share:hover > i {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1); }

.icon {
  position: relative;
  display: inline-block;
  background: url(../../images/spritesheet.png) center center no-repeat; }
  .icon__angle-left {
    background-position: -129px -6px;
    width: 9px;
    height: 18px; }
    .icon__angle-left--blue {
      background-position: -29px -104px;
      width: 19px;
      height: 36px; }
  .icon__angle-right {
    background-position: -129px -6px;
    width: 9px;
    height: 18px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }
    .icon__angle-right--blue {
      background-position: -59px -104px;
      width: 19px;
      height: 36px; }
  .icon__shipping-guarantee {
    background-position: -9px -5px;
    width: 88px;
    height: 87px; }
  .icon__tel {
    background-position: -123px -30px;
    width: 20px;
    height: 20px; }
    .icon__tel--blue {
      background-position: -106px -120px;
      width: 20px;
      height: 20px; }
      .icon__tel--blue--small {
        background-position: -82px -129px;
        width: 12px;
        height: 12px; }
  .icon__locale {
    background-position: -122px -58px;
    width: 16px;
    height: 20px; }
    .icon__locale--blue {
      background-position: -136px -120px;
      width: 16px;
      height: 20px; }
  .icon__whatsapp {
    background-position: -123px -92px;
    width: 20px;
    height: 20px; }

.paginator {
  margin-top: 18px;
  text-align: center; }
  .paginator__item {
    float: left;
    width: 65px;
    height: 60px;
    border: 1px solid #f2f2f2; }
    .paginator__item:not(:first-child) {
      border-left: 0; }
    .paginator__item.is-active a {
      font-weight: 600;
      color: #BA7953; }
    .paginator__item a {
      padding: 20px;
      display: block;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .paginator__item a:hover {
        font-weight: 600;
        color: #BA7953; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer; }

.owl-theme .owl-nav button.owl-next,
.owl-theme .owl-nav button.owl-prev {
  margin: 0;
  width: 50px;
  height: 50px;
  outline: none;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s; }
  .owl-theme .owl-nav button.owl-next > i,
  .owl-theme .owl-nav button.owl-prev > i {
    font-size: 28px; }

.owl-theme.owl-carousel .owl-nav button.owl-next {
  color: #fff; }

.owl-theme.owl-carousel .owl-nav button.owl-prev {
  color: #444444; }

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  outline: none;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background-color: transparent;
  display: block;
  border: 2px solid #DDD;
  -webkit-backface-visibility: visible;
  transition: all 200ms ease;
  border-radius: 30px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  width: 15px;
  height: 15px;
  background-color: #BA7953; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  color: #555555;
  border: 1px solid #BA7953;
  background-color: #fff;
  font-size: 14px;
  border-radius: 10px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  input[type="text"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="password"]:hover,
  select:hover,
  textarea:hover {
    border-color: #BA7953 !important; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    border-color: #BA7953 !important; }

textarea {
  height: 170px;
  resize: none; }

label {
  display: block; }

.contact__form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px; }
.contact__form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  text-transform: lowercase; }
.contact__form .form__fields label {
  display: block;
  margin-bottom: 20px; }

.main__footer {
  padding: 30px 0 35px;
  color: #fff;
  background-color: #BA7953; }
  .main__footer .block__about .footer__description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 300; }
    .main__footer .block__about .footer__description .social__listing {
      margin-top: 20px;
      font-size: 16px; }
      .main__footer .block__about .footer__description .social__listing a {
        color: #fff; }
      @media (min-width: 992px) {
        .main__footer .block__about .footer__description .social__listing .contact__listing {
          float: left;
          width: 70%; } }
    .main__footer .block__about .footer__description .footer__responsible {
      margin-top: 20px; }
      .main__footer .block__about .footer__description .footer__responsible p {
        font-weight: 700;
        letter-spacing: 2px; }

.footer__title {
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 40px; }
.footer__facebook {
  margin-top: 15px; }
.footer__copyright {
  border-top: 1px solid #fff; }

.page__home {
  position: relative;
  top: -110px; }
  @media (max-width: 768px) {
    .page__home {
      top: 0; } }
  .page__home .section__title {
    font-size: 35px; }

.main__banner {
  margin-bottom: 90px; }
  .main__banner .main__carousel .owl-dots {
    bottom: 5px;
    width: 100%;
    position: absolute; }
  .main__banner .banner__description {
    left: 0;
    bottom: 0;
    position: relative;
    text-align: center;
    position: absolute;
    padding: 50px 65px 80px;
    background-color: #fff;
    max-width: 805px;
    width: 80%; }
    .main__banner .banner__description:before {
      top: -15px;
      left: 50%;
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: #BA7953;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg); }
    .main__banner .banner__description .banner__title {
      font-size: 28px;
      margin-bottom: 45px;
      font-weight: normal;
      color: #BA7953; }
    .main__banner .banner__description .banner__subtitle {
      font-size: 18px; }
  .main__banner .banner__actions {
    bottom: 0;
    right: 0;
    width: 28%;
    position: absolute; }

.specialty__box {
  border: 1px solid #BA7953;
  border-radius: 10px;
  padding: 40px 0 20px 50px;
  margin-top: 80px;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
  -moz-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
  box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45); }
  .specialty__box:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px); }
  .specialty__box--img {
    position: relative; }
    .specialty__box--img::after {
      background-image: url("../../images/home/specialty-doc.png");
      background-repeat: no-repeat;
      height: 199px;
      width: 162px;
      content: "";
      position: absolute;
      top: -65px;
      right: 0; }
.specialty__title {
  line-height: 1;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #BA7953;
  letter-spacing: 2px; }
  .specialty__title--small:before {
    background-size: 70%;
    background-repeat: no-repeat;
    left: -16px !important;
    top: -22px !important; }
  .specialty__title:before {
    left: -22px;
    top: -32px;
    height: 52px;
    content: "";
    width: 53px;
    position: absolute;
    background-image: url("../../images/title.png"); }
.specialty__name {
  font-size: 20px;
  color: #535353;
  margin-top: 25px; }

.book__section {
  background-color: #BA7953;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: -155px;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45); }
.book__title {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 30px; }
  .book__title span {
    font-weight: bold;
    display: block; }
.book__description {
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px; }
.book__form {
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E9E9E9; }
.book__infos li {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  display: flex; }
  .book__infos li:first-child {
    margin-bottom: 5px; }
  .book__infos li a {
    color: #fff; }
  .book__infos li i {
    font-size: 25px;
    margin-right: 10px; }
  .book__infos li span {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px; }

.block__blog {
  margin-top: 120px;
  padding-bottom: 0; }
  .block__blog .blog__post {
    margin-bottom: 30px;
    margin-top: 50px;
    padding-right: 30px; }
  .block__blog .post__info {
    position: relative; }
  .block__blog .post__thumbnail {
    display: block;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .block__blog .post__thumbnail img {
      height: auto;
      max-width: 100%; }
    .block__blog .post__thumbnail:hover {
      opacity: .8; }
  .block__blog .post__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 300;
    color: #BA7953; }
  .block__blog .post__details {
    padding: 20px 0; }
  .block__blog .post__excerpt {
    height: 130px;
    overflow: hidden;
    font-size: 16px;
    line-height: 25px;
    color: #777777; }
    .block__blog .post__excerpt p {
      background: -webkit-linear-gradient(#333, #eee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .block__blog .post__actions {
    text-align: right; }

.block__localizacao {
  background-image: url("../../images/bg-butterfly.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 130px;
  margin: 0; }
  .block__localizacao .localizacao__mapa {
    margin-top: 55px; }
  .block__localizacao .localizacao__title {
    font-weight: 300;
    color: #777777; }
    .block__localizacao .localizacao__title span {
      font-size: 35px;
      color: #BA7953;
      font-weight: bold;
      display: block; }
  .block__localizacao .localizacao__parking {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 160px; }
    .block__localizacao .localizacao__parking img {
      margin-right: 10px; }

.page__clinica {
  margin-top: 230px; }

.block__clinica::after {
  background-image: url(../../images/bg-butterfly.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  position: absolute;
  height: 732px;
  width: 741px;
  content: "";
  top: 65px;
  left: 39%;
  z-index: -1; }
.block__clinica .block__content {
  padding: 70px 0;
  color: #555555;
  line-height: 1.6; }

.block__team {
  margin-bottom: 150px; }

.clinica__image {
  padding: 70px 0; }

.page__localizacao {
  margin-top: 230px;
  margin-bottom: 80px; }
  .page__localizacao .localizacao__mapa {
    margin-top: 55px; }
  .page__localizacao .localizacao__title {
    font-weight: 300;
    color: #777777; }
    .page__localizacao .localizacao__title span {
      font-size: 35px;
      color: #BA7953;
      font-weight: bold;
      display: block; }
  .page__localizacao .localizacao__parking {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 130px;
    position: inherit;
    top: 0; }
    .page__localizacao .localizacao__parking img {
      margin-right: 10px; }
  .page__localizacao .localizacao__infos {
    margin-top: 55px; }
    .page__localizacao .localizacao__infos-item {
      display: flex; }
    .page__localizacao .localizacao__infos .fa {
      width: 30px;
      color: #BA7953;
      font-size: 25px; }
      .page__localizacao .localizacao__infos .fa-phone {
        margin-right: 25px; }
      .page__localizacao .localizacao__infos .fa-map-marker {
        margin-right: 30px; }
    .page__localizacao .localizacao__infos p, .page__localizacao .localizacao__infos a {
      color: #555555;
      font-size: 16px;
      font-style: italic;
      display: inline-block; }

.block__localizacao {
  background-image: url("../../images/bg-butterfly.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .block__localizacao .block__content {
    padding: 70px 0;
    color: #555555;
    line-height: 1.6; }

.page__especialidades {
  margin-top: 230px;
  margin-bottom: 130px; }

.block__especialidades {
  background-image: url("../../images/bg-butterfly.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .block__especialidades .block__content {
    padding: 70px 0;
    color: #555555;
    line-height: 1.6; }

.especialidades__info {
  display: flex;
  align-items: baseline; }
.especialidades__text {
  color: #777777;
  font-size: 16px;
  margin-top: 45px;
  margin-bottom: 35px;
  padding-right: 380px; }

.specialty__cremesc {
  color: #BA7953;
  font-size: 13px;
  margin-left: 18px; }

.specialty__school {
  font-size: 13px;
  font-weight: bold;
  color: #BA7953;
  text-transform: uppercase;
  margin: 5px 0; }

.blog {
  margin-top: 230px; }
  .blog__search input {
    border-color: #BA7953;
    -webkit-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
    -moz-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
    box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45); }
  .blog__share {
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #eee;
    padding: 20px 0; }
    .blog__share p {
      font-size: 16px;
      font-weight: bold;
      color: #555555;
      margin-right: 25px; }
    .blog__share li {
      display: inline-block;
      margin-right: 40px; }
      .blog__share li i {
        font-size: 20px; }
      .blog__share li .fa-facebook {
        color: #325C99; }
      .blog__share li .fa-twitter {
        color: #02ACEC; }
      .blog__share li .fa-whatsapp {
        color: #51C85D; }
  .blog__related {
    margin-top: 65px; }
    .blog__related__title-post {
      font-size: 16px !important;
      margin-top: 20px; }
    .blog__related__title {
      font-size: 25px;
      font-weight: 300;
      position: relative;
      margin-bottom: 35px;
      color: #555555; }
      .blog__related__title::before {
        left: -22px;
        top: -32px;
        height: 52px;
        content: "";
        width: 53px;
        position: absolute;
        background-image: url(../../images/title.png); }
  .blog__comments {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 80px; }
    .blog__comments p {
      font-size: 16px;
      font-weight: bold;
      color: #555555;
      margin-right: 25px;
      margin-bottom: 25px; }
  .blog__warning {
    background-color: #BA7953;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    -webkit-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
    -moz-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
    box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45); }
  .blog .blog__post:before, .blog .blog__post:after {
    clear: both;
    content: "";
    display: table; }
  .blog .blog__post:not(:last-child) {
    margin-bottom: 60px; }
  .blog .blog__post .btn-read-more {
    font-size: 16px;
    margin-top: 23px;
    display: inline-block; }
  .blog .blog__post .post__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 300;
    color: #BA7953; }
  .blog .blog__post .post__thumbnail {
    margin-bottom: 40px; }
  .blog .blog__post .post__excerpt p {
    margin-bottom: 15px;
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .blog .blog__post .post__share {
    font-size: 14px;
    font-weight: 600; }
  .blog .block__paginator {
    text-align: center; }
    .blog .block__paginator .paginator {
      display: inline-block; }
  .blog .post__comments .field__label {
    margin-bottom: 30px; }
  .blog .post__comments strong {
    font-weight: bold;
    color: #444444; }
  .blog .block__categories li:not(:last-child) {
    margin-bottom: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px; }
  .blog .block__categories a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #BA7953; }
  .blog .block__newsletter {
    background-color: #BA7953;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 70px;
    -webkit-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.45); }
    .blog .block__newsletter label {
      display: block;
      margin: 25px 0; }
    .blog .block__newsletter .btn-primary {
      font-weight: 600; }
    .blog .block__newsletter .book__form {
      border: none;
      padding-bottom: 0; }
  .blog .block__search {
    position: relative;
    margin-bottom: 50px; }
    .blog .block__search .btn-search {
      top: 1px;
      right: 1px;
      position: absolute;
      height: 96%;
      font-weight: 300;
      font-size: 22px;
      width: 50px;
      background-color: transparent;
      border: 0; }
      .blog .block__search .btn-search:before {
        display: inline-block;
        margin-top: 5px;
        height: 24px;
        width: 24px;
        content: "\f002 ";
        font: normal normal normal 14px/1 FontAwesome; }
  .blog .blog__listing {
    margin-top: 50px; }
  .blog .block__aside {
    position: relative; }
    .blog .block__aside:before {
      left: -22px;
      top: -32px;
      height: 52px;
      content: "";
      width: 53px;
      position: absolute;
      background-image: url("../../images/title.png"); }
  .blog.blog__single .blog__listing {
    border-right: 0; }

.page__contato {
  margin-top: 230px;
  margin-bottom: 80px; }
  .page__contato form {
    margin-top: 60px; }
    .page__contato form input, .page__contato form textarea {
      -webkit-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
      -moz-box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45);
      box-shadow: 0px 3px 17px 0px rgba(186, 121, 83, 0.45); }
    .page__contato form .btn-submit {
      width: auto;
      padding: 5px 20px; }

.contato__infos {
  margin-top: 55px; }
  .contato__infos-item {
    display: flex; }
    .contato__infos-item .fa {
      color: #BA7953;
      font-size: 25px; }
      .contato__infos-item .fa.fa-white {
        color: #fff; }
      .contato__infos-item .fa-phone {
        margin-right: 25px; }
      .contato__infos-item .fa-map-marker {
        margin-right: 30px; }
    .contato__infos-item p, .contato__infos-item a {
      color: #555555;
      font-size: 16px;
      font-style: italic;
      display: inline-block;
      margin-bottom: 10px; }

.block__contato::after {
  background-image: url(../../images/bg-butterfly.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  height: 322px;
  width: 325px;
  content: "";
  top: 135px;
  left: 39%;
  z-index: -1; }
.block__contato .block__content {
  padding: 70px 0;
  color: #555555;
  line-height: 1.6; }

@media (min-width: 1200px) and (max-width: 1460px) {
  .main-header .header__nav li:not(:last-child) {
    margin-right: 2.4%; }
  .main-header .header__nav li > a:not(.btn-book-now) {
    font-size: 12px; }
  .main-header .header__nav .btn-book-now {
    padding: 5px 10px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .main-header .header__nav {
    margin-top: 20px;
    text-align: center; }
  .main-header .align-flex {
    flex-direction: column; }
  .main-header li:last-child {
    display: none; } }
@media (max-width: 1200px) {
  .main__banner .banner__description {
    width: 100%;
    bottom: 120px; }
  .main__banner .banner__actions {
    width: 100%; } }
@media (max-width: 992px) {
  .block__technical-features .block__featured-item:not(:last-child) {
    margin-bottom: 40px; }

  .block__section {
    margin-top: 45px;
    padding-bottom: 45px; }

  .main__footer .block__newsletter:before, .main__footer .block__newsletter:after {
    clear: both;
    content: "";
    display: table; }
  .main__footer .block__newsletter .block__title {
    display: block;
    font-size: 18px;
    margin-bottom: 15px; }
  .main__footer .block__newsletter .block__subtitle {
    font-size: 14px; }
  .main__footer .block__newsletter .form__newsletter label[for="newsletter_email"] {
    width: 65%; }
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    width: 34%; }

  .blog .block__aside:before {
    left: 0; }
  .blog .block__aside h3 {
    padding-left: 15px; }

  .block__main-features .main-features__wrapper {
    flex-direction: column; }
  .block__main-features .carousel__hotel-features {
    margin-top: 45px; }

  .main__footer .hotel__list .hotel__item {
    margin-top: 30px; }

  .block__contact .contact__info .section__title,
  .block__contact .contact__form .section__title {
    margin-bottom: 40px; } }
@media (max-width: 680px) {
  .blog .blog__post:not(.single__post) .post__actions {
    display: none; } }
@media (max-width: 991px) {
  .page__clinica .clinica__history {
    margin-top: 15px; }
  .page__clinica .clinica__history .block__gallery {
    margin-bottom: 40px;
    text-align: center; }

  .specialty__single .specialty__locale .specialty__map {
    margin-top: 25px; }

  .block__contact .form__contact-methods {
    margin-top: 40px;
    margin-bottom: 20px; }

  .block__florianopolis {
    padding-bottom: 45px; }

  .page__home .section__title {
    font-size: 32px; }

  .block__team .block__winner-team h2 {
    padding-top: 0;
    font-size: 32px;
    font-style: normal; }
  .block__team .block__winner-team .team__image {
    margin: 15px 0 45px; }
    .block__team .block__winner-team .team__image img {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box; }

  .specialty__single .info__specialty .info__by {
    display: block;
    padding: 20px; }
  .specialty__single .block__carousel .content__wrapper {
    padding-bottom: 50px; }
  .specialty__single .specialty__features .section__listing li {
    width: 50%; }
  .specialty__single .block__section {
    margin-bottom: 0;
    padding-bottom: 0; }
    .specialty__single .block__section .section__tag {
      width: 100%;
      margin-left: 20px; }
    .specialty__single .block__section .info__by {
      padding: 20px 0 0 45px; }
    .specialty__single .block__section.specialty__locale {
      padding-bottom: 45px; }
  .specialty__single .specialty__newsletter .newsletter__label {
    display: block;
    margin-bottom: 20px; }
  .specialty__single .specialty__newsletter-v2 .newsletter__label {
    margin-bottom: 20px; }
  .specialty__single .specialty__newsletter-v2 label {
    margin-bottom: 10px; }

  .main-header .header__logo {
    text-align: center; } }
@media (max-width: 480px) {
  .main__banner .banner__description {
    padding: 45px 25px; }

  .footer__contact .contact__wrapper {
    display: block;
    text-align: center; }
  .footer__contact .contact__formlist li {
    background-color: #BA7953; }
  .footer__contact .contact__formlist a,
  .footer__contact .contact__formlist .label__name {
    color: #fff; }
  .footer__contact p {
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    display: block; }
  .footer__contact .contact__formlist li {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    display: inline-block; }

  .main__breadcrumb .block__page-title {
    line-height: 1.6;
    font-size: 24px; }

  .specialty__single .specialty__features .section__listing li {
    width: 100%; } }
@media (max-width: 380px) {
  .main__footer .block__newsletter .form__newsletter label[for="newsletter_email"],
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    width: 100%; }
  .main__footer .block__newsletter .form__newsletter .btn-newsletter {
    margin-top: 5px; } }

/*# sourceMappingURL=style.css.map */
