.main__footer {
    padding: 30px 0 35px;
    color: $color__white;
    background-color: $color__primary;


    .block__about {
        .footer__description {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 300;

            .social__listing {
                margin-top: 20px;
                font-size: 16px;

                a {
                    color: $color__white;
                }
        
                @media (min-width: $screen-md) {
                    .contact__listing {
                        float: left;
                        width: 70%;
                    }
                }
            }

            .footer__responsible {
                margin-top: 20px;

                p { 
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.footer {
    &__title {
        letter-spacing: 2px;
        margin-top: 15px;
        margin-bottom: 40px; 
    }

    &__facebook {
        margin-top: 15px;
    }

    &__copyright {
        border-top: 1px solid $color__white;
    }
}
