body {
   margin-top: 110px;
}

.block__section {
    margin-bottom: 80px;


    // &:not(:last-child) {
    //     border-bottom: 1px solid $color__light-grey;
    // }

    .section__tag {
        padding: 6px 26px;
        max-width: 380px;
        margin-right: 20px;
        position: relative;
        margin-left: -5px;
        color: $color__white;
        display: inline-block;

        strong {
            font-size: 16px;
            font-weight: 500;
            color: $color__white;
        }

        &:before {
            z-index: -1;
            content: "";
            left: -5px;
            bottom: -5px;
            position: absolute;
            border: 5px solid transparent;
        }

        &.tag-featured,
        &.tag-forecast {
            background-color: #C2A45D;

            &:before {
                border-right-color: #80672F;
            }
        }

        &.tag-info {
            background-color: $color__primary;

            &:before {
                border-right-color: $color__primary;
            }
        }
    }

    .section__actions {
        margin-top: 20px;
        text-align: center;
    }
}

.section__listing {
    li {
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        padding-left: 16px;
        color: #858585;

        &.is-active {
            font-size: 16px;
            font-style: italic;
            color: $color__primary;
        }

        &:before {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            background-color: $color__primary--darken;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -wekbit-border-radius: 50%;
            left: 0;
            margin-top: 10px;
        }
    }
}

.section__title {
    line-height: 1;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    font-family: $secondaryFont;
    color: $color__primary;
    letter-spacing: 2px;
    display: inline-block;

    &:before {
        left: -22px;
        top: -32px;
        height: 52px;
        content: "";
        width: 53px;
        position: absolute;
        background-image: url("../../images/title.png");
    }

    &.section__title--newsletter {
        &:before {
            left: -47px;
            top: -65px;
            height: 97px;
            width: 98px;
            content: "";
            position: absolute;
            background-image: url("../../images/title-alt.png");
        }
    }
}


.section__description {
    font-style: italic;
    font-size: 16px;
    color: $color__secondary;
    margin-top: 20px;
}


.block__aside {
    margin-bottom: 50px;

    h3 {
        font-size: 25px;
        font-weight: 300;
        position: relative;
        margin-bottom: 35px;
        color: $color__text;
    }

    &.block__most-readed {
        article {
            margin-bottom: 40px;
            border-bottom: 1px solid $color__soft-grey;
            padding-bottom: 35px;
        }

        .post__details {
            @include clearfix;
        }

        .post__thumbnail {
            margin-bottom: 25px;
        }

        .post__title {
            a {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 25px;
                font-weight: 300;
                color: $color__primary;
            }
        }
    }
}

.block__carousel {
   background-color: $color__soft-grey;
}

.block__social {
    h2 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .social__listing {
        li {
            float: left;
            margin-right: 0;

            @include transition(all 0.3s);

            &:hover {
                // background-color: darken(#3c404b, 5%);
           
            }
        }

        a {
            color: $color__white;
            padding: 4px 0 8px;
            text-align: center;
            font-size: 22px;
            display: block;
            width: 40px;
        }
    }
}

.contact__listing {
    font-size: 14px;

    li {
        margin-bottom: 20px;
    }

    address {
        font-style: normal;
    }

    a {
        color: $color__white;
    }

    .icon {
        float: left;
        margin-right: 15px;
        vertical-align: top;
    }
}

.social__listing {
    @include clearfix;

    li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.main__newsletter {
    padding: 25px 0;
    background-color: $color__dark-grey;

    .newsletter__description {
        display: inline-block;
        font-size: 16px;
        color: #777777;
        margin-bottom: 20px;
        margin-left: 40px;
        position: relative;
        bottom: 6px;
    }

    .newsletter__label {
        font-size: 16px;
        font-weight: bold;
        color: $color__white;
        text-transform: uppercase;

        strong {
            display: block;
            font-size: 45px;
            font-weight: 300;
            line-height: 48px;
            text-transform: capitalize;
        }
    }

    input[type="email"],
    input[type="text"] {
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-color: transparent;
    }

    label,
    .btn-newsletter {
        margin-top: 15px;
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.specialty__box--img {
    &.interna {
        background: $color__white;
        position: relative;

        &::after {
            background-image: url('../../images/especialidades/bg-doc.png');
            background-repeat: no-repeat;
            height: 436px;
            width: 233px;
            content: "";
            position: absolute;
            bottom: 0;
            right: -35px;
            top: unset;
        }
    }

}

