.main__header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 25px 0;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    @media (max-width: $screen-sm) {
        background: $color__white
    }

    &--fixed {
        background: $color__white;
        .header__nav {
            li {
                > a {
                    color: #BB7A54!important;
                }
            }
        }
    }

    &--interna {
        background: $color__white;

        .header__nav {
            li {
                > a {
                    color: #BB7A54!important;
                }
            }
        }
    }

    .header__logo {
        img {
            max-width: none;
        }
    }

    @media (min-width: $screen-sm + 1) {
        .header__nav {
            text-align: right;

            @include clearfix;

            li {
                margin: 0 3.4%;
                display: inline-block;

                &:last-child {
                    margin-right: 0
                }

                > a {
                    display: block;
                    font-size: 15px;
                    font-weight: 300;
                    text-align: center;
                    position: relative;
                    color: $color__white;
                    text-transform: uppercase;
                }

            }

            .header__mobile-trigger {
                display: none;
            }
        }
    }

    @media (max-width: $screen-sm) {
        .header__nav {
            top: 25px;
            left: -15px;
            width: 110%;
            z-index: 11;
            display: none;
            position: relative;
            text-align: center;
            background-color: $color__white;

            &.is-active {}

            li {
                border-bottom: 1px solid darken($color__primary, 10%);

                &:not(:last-child) {
                    margin-right: 0;
                }

                > a {
                    color: $color__primary;
                    padding: 8px;
                    font-size: 17px;
                    display: inline-block;
                    text-transform: none;
                }
            }

            .check-in {
                display: none;
            }

            .btn-book-now {
                margin-top: 15px;
                width: 150px;
            }
        }
    }

    .social__listing {}

    .info__contact {
        position: relative;

        &:before,
        &:after {
            top: 50%;
            left: -15%;
            height: 1px;
            width: 115%;
            content: "";
            z-index: -1;
            position: absolute;
            background-color: #eee;
        }
    }

    .social__listing {

        margin-bottom: 10px;

        a {
            font-size: 14px;
            color: $color__light-grey;
        }

        .icon {
            margin-right: 10px;
        }

        .fa {
            font-size: 18px;
        }
    }
}
.logo__dark {
    display: none;
}