.icon {
    position: relative;
    display: inline-block;
    background: url(../../images/spritesheet.png) center center no-repeat;

    &__angle-left {
        background-position: -129px -6px;
        width: 9px;
        height: 18px;

        &--blue {
            background-position: -29px -104px;
            width: 19px;
            height: 36px;
        }
    }

    &__angle-right {
        background-position: -129px -6px;
        width: 9px;
        height: 18px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);

        &--blue {
            background-position: -59px -104px;
            width: 19px;
            height: 36px;
        }
    }

    &__shipping-guarantee {
        background-position: -9px -5px;
        width: 88px;
        height: 87px;
    }

    &__tel {
        background-position: -123px -30px;
        width: 20px;
        height: 20px;

        &--blue {
            background-position: -106px -120px;
            width: 20px;
            height: 20px;

            &--small {
                background-position: -82px -129px;
                width: 12px;
                height: 12px;
            }
        }
    }

    &__locale {
        background-position: -122px -58px;
        width: 16px;
        height: 20px;

        &--blue {
            background-position: -136px -120px;
            width: 16px;
            height: 20px;
        }
    }

    &__whatsapp {
        background-position: -123px -92px;
        width: 20px;
        height: 20px;
    }
}